
body{
    font-family: Berlin system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #151515;
    color: white
}
.logo {
    width: 200px;
    height: 150px;
    margin-left: 20px;
    margin-top: 5px;
}

/* Header Styles */
.header {
    margin: none;
    position: fixed;
    background: #151515;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    margin-left: -10px;
    top: 0;
    height: 15%;
    width: 100%;
    display: flex;
    align-items: center;
   
}
.content
{
    text-align: center;
    margin-top: 280px;
    margin-left: 230px;
}
.content .btn
{
    background-color: darkcyan;
    color: white;
    width: 180px;
    height: 40px;
    font-weight: bold;
}
#sidebar {
    position: fixed;
    right: -300px; /* Start off-screen to the right */
    top: 0;
    width: 300px;
    height: 100%;
    background: linear-gradient(120deg, #1a1a1a, #0f0f0f); /* Light background with transparency */
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
    transition: right 0.3s ease; /* Smooth transition */
    overflow-y: auto; /* Ensure scrollbar appears if content overflows */
}

/* Sidebar visible state */
#sidebar.show {
    right: 0; /* Slide in the sidebar */
}

.sidebar-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

}
.sidebar-header
{
    color: white;
}

.user-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.sidebar-content a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
    font-size: 18px;
    border-bottom: 1px solid #ccc;
    transition: background-color 0.3s, color 0.3s;
}

.sidebar-content a:hover {
    background-color: #009688;
    color: #fff;
}

.content {
    margin-right: 320px; /* Adjust to ensure main content is not covered by the sidebar */
}

/* Sidebar Toggle Button */
.sidebar-toggle {
    position: fixed;
    top: 20px;
    right: 20px; /* Adjust this value to move the icon further right */
    background-color: #111;
    color: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
    z-index: 1000;
    padding: 10px;
    border-radius: 5px;
    transition: right 0.3s ease, transform 0.3s ease; /* Add transition for rotation */
}

.sidebar-toggle.move-left {
    right: 320px; /* Move the toggle button left */
    transition: right 0.3s ease, transform 0.3s ease; /* Add transition for rotation */
    transform: rotate(360deg); /* Rotate the button 360 degrees */
}

.sidebar-toggle:hover {
    background-color: #444;
}

/* Responsive Design */
@media screen and (max-height: 450px) {
    .sidebar-content a {
        font-size: 16px;
    }
}

