/* Styling for the body */
body {
    margin: 0;
    padding: 0;
    background: #151515;
    color: whitesmoke;
    font-family: 'Segoe UI', sans-serif;
    font-weight: 700;
}

/* Logo styling */
.logo {
    width: 200px;
    height: 150px;
    margin-left: 20px;
    margin-top: 5px;
}

/* Header styling */
.header {
    position: fixed;
    background: #151515;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    top: 0;
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}
/* Book form container styling */
.bookform {
    margin-top: 10%;
    margin-left: 30%;
    border-radius: 5px;
    width: 450px;
    height: 850px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    background: #151515;
    padding: 20px;
    text-align: center;
}

/* Input box styling */
.input-box {
    border-radius: 5px;
    padding: 10px;
    margin: 10px 10px;
    width: 70%;
    border: 1px solid #999;
    font-family: 'Segoe UI', sans-serif;
}

label {
    margin: 10px 10px;
    width: 200px;
}

.input {
    border-style: none;
    color: antiquewhite;
    text-align: center;
    background-color: black;
    padding: 10px;
    margin: 10px 10px;
    width: 37%;
    font-family: 'Segoe UI', sans-serif;
    font-weight: 500;
}

/* Time slot container */
.time-slot-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

/* Time slot styling */
.time-slot {
    display: inline-block;
    margin: 5px;
    padding: 10px 15px;
    width: 180px;
    height: 20px;
    background-color: darkcyan; /* Default background for available slots */
    color: white;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    user-select: none;
    transition: background-color 0.3s ease;
}

/* Styling for the confirm button */
.button {
    border-radius: 5px;
    margin-left: 10px;
    border-color: darkcyan;
    padding: 10px;
    background-color: darkcyan;
    color: antiquewhite;
    cursor: pointer;
}

/* Confirm button in form */
.bookform .confirm {
    border-radius: 5px;
    width: 200px;
    margin-top: 10px;
    height: 30px;
    background-color: darkcyan;
    color: white;
    font-weight: 1000;
}

/* Disable past time slots visually */
.time-slot.disabled {
    background-color: grey; /* Grey background for past time slots */
    color: white;
    cursor: not-allowed;
    opacity: 0.5; /* Slight opacity for past slots */
}


/* Styling for booked time slots */
.time-slot.booked {
    background-color: white; /* Red for booked slots */
    color: red; /* White text for booked slots */
    pointer-events: none; /* Disable clicking */
    opacity: 0.7; /* Slight opacity to indicate it's not selectable */
}

/* Styling for selected time slots */
.time-slot.selected {
    background-color: white; /* Orange for selected slots */
    color: darkcyan;
    border-color: #b8daff;
}
