body {
    font-family: Berlin Sans FB;
    background: #151515;
    margin: 0;
    width: 100%;
    height: auto;
}

/* Logo Styles */
.logo {
    width: 200px;
    height: 150px;
    margin-left: 20px;
    margin-top: 5px;
}

/* Header Styles */
.header {
    position: fixed;
    background: #151515;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    top: 0;
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}

.header ul li {
    font-family: Berlin Sans FB;
    list-style: none;
    display: inline-block;
    margin: 0px 60px;
    margin-left: -20px ;
    position: relative;
}

.header ul li a {
    cursor: pointer;
    text-decoration: none;
    font-weight: 600;
    font-size: larger;
    color: whitesmoke;
}

.header ul li::after {
    content: '';
    height: 3px;
    width: 0%;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
    z-index: 1000;
}

.header ul li:hover::after {
    width: 100%;
}
.receipt-container {
    max-width: 600px;
    margin-top: 10%;
    margin-left: 25%;
    background: #202020;
    color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.header {
    text-align: center;
    margin-bottom: 20px;
}
.header img {
    max-width: 150px;
}
.receipt-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}
.booking-details {
    margin-bottom: 20px;
}
.booking-details p {
    margin: 5px 0;
}
.actions {
    text-align: center;
    margin-top: 20px;
}
.cancel-btn {
    padding: 10px 15px;
    background-color: darkcyan;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.cancel-btn:hover {
    background-color: white;
    color: darkcyan;

}
.no-bookings {
    text-align: center;
    margin-top: 50px;
    font-size: 18px;
    color: #666;
}