body {
    background-color: black;
    font-family: Berlin Sans FB;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 200px;
    height: 150px;
    margin-left: 20px;
    margin-top: 5px;
}

.header {
    position: fixed;
    background-color: black;
    top: 0;
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}

.content {
    position: absolute;
    margin-left: 210px;
    margin-top: 230px;
    color: white;
}

.content button {
    width: 100px;
    height: 40px;
    border-radius: 5px;
    background-color: darkcyan;
    color: whitesmoke;
    font-family: Segoe UI;
    font-weight: 800;
    margin-left: 45%;
}

.background-blur {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(94, 86, 86, 0.5);
    backdrop-filter: blur(5px);
    display: none;
    z-index: 500;
}

.background-blur.show {
    display: block;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: all 300ms ease-in-out;
    text-align: center;
    background: black;
    width: 350px;
    height: 425px;
    z-index: 2;
    padding: 20px;
    border: 20px;
    display: none;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.popup .close-btn {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 30px;
    height: 30px;
    color: white;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
}

.popup.show {
    display: block;
    transform: translate(-50%, -50%) scale(1);
}

.input-box {
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    width: 80%;
    border: 1px solid #999;
}

.popup p {
    font-size: 15px;
    font-family: calibri;
    color: white;
}

.popup a {
    font-family: calibri;
    color: #009688;
    text-decoration: none;
    cursor: pointer;
    margin-bottom: 30px;
}

.popup img {
    width: 100px;
    margin-top: -70px;
}

.popup h1 {
    font-weight: 850;
    font-family: Berlin system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: darkcyan;
    margin-bottom: 30px;
}

.popup button {
    color: white;
    font-family: Berlin system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 35%;
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    margin: 10px 0;
    cursor: pointer;
}

.loginbtn {
    background-color: darkcyan;
    border-width: 1px;
    width: 70px;
}

/* Error message styles */
#error-list {
    margin-bottom: 20px;
    color: red;
    list-style-type: none;
    padding-left: 0;
    font-family: Arial, sans-serif;
    font-size: 14px;
    position: relative;
    z-index: 1100; /* Ensure it is above other elements */
    background-color: black; /* Ensure contrast */
}
