body
{
    background-color: black;
    font-family: Berlin Sans FB;
}
.logo{
    width: 200px;
    height: 150px;
    margin-left: 20px;
    margin-top: 5px;

}
.header
{
    position: fixed;
    background-color: black;
    top:0;
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}
.image img
{
    position: absolute;
    margin-left: -80px;
    margin-top: 100px;
    height: 500px;
}
.content ul
{
   position: absolute;
   margin-top: 270px;
   margin-left: 750px;
   color: white;
   font-size: larger;
}
.content ul img
{
    height: 30px;
    width: 35px;
    margin-left: -35px;
}
