/* General Reset */
body {
    margin: 0;
    padding: 0;    
    font-family: Segoe UI;
    background: #151515;
}

/* Header Styling */
.header {
    position: fixed;
    background: #151515;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    top: 0;
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}

.header .logo {
    height: 150px;
    width: 200px;
    margin-right: 20px;
}


h2 {
    margin-top: 120px;
    color: darkcyan;
    font-size: 1.5rem;
    text-align: center;
}

/* Booking Details */
.confirm_page {
    max-width: 500px;
    height: 480px;
    margin: 20px auto;
    margin-top: 60px;
    background: #151515;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 20px;
}



.confirm_page ul {
    list-style-type: none;
    padding: 0;
}

.confirm_page ul li {
    font-size: 1.1rem;
    margin-bottom: 10px;
    padding: 10px;
    color: white;
    font-weight: bold;
}

.confirm_page ul li:last-child {
    border-bottom: none;
}

/* Payment Form */
.pay {
    margin-top: 20px;
    color: white;
    font-weight: bold;
    text-align: center;
}

.pay label {
    font-size: 1.1rem;
}

.pay select {
    width: 50%;
    padding: 10px;
    margin-top: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.pay button {
    width: 30%;
    padding: 12px 20px;
    background-color: darkcyan;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.pay button:hover {
    background-color: #0056b3;
}

/* Error Messages */
.error {
    color: #d9534f;
    font-weight: bold;
    margin-top: 20px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .confirm_page {
        padding: 15px;
    }

    h1 {
        font-size: 1.8rem;
    }

    .confirm_page h2 {
        font-size: 1.3rem;
    }
}
.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #151515;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    z-index: 1000;
}

.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}
.modal h2
{
    color: white;
}
.modal p
{
    color: white;
}

.modal button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.modal button:hover {
    background-color: #45a049;
}
