body {
    font-family: Berlin Sans FB;
    color: #333;
}
.logo {
    width: 200px;
    height: 150px;
    margin-top: 20px;
}

.header
{
    position: fixed;
    background-color: black;
    top:0;
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    background-color: transparent;
}
.header ul li{ 
    font-family: Berlin Sans FB;
    list-style:none;
    display: inline-block;
    margin: 0 90px;
    position: relative;
}
.header ul li a{
    cursor: pointer;
    text-decoration: none;
    font-weight: 600;
    font-size: larger;
    color: whitesmoke;
}
.header ul li::after{
    content: '';
    height: 3px;
    width: 0%;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
    z-index: 1000;
}
.header ul li:hover::after{
    width: 100%;
}
.receipt {
    width: 50%;
    height: 50%;
    margin-top: 15%;
    margin-left: 22%; 
    background: linear-gradient(145deg, rgba(40, 40, 40, 0.8), rgba(10, 10, 10, 0.8));
    color: whitesmoke;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.receipt h1 {
    text-align: center;
    color: darkcyan;
}

.receipt p {
    font-size: 1.1em;
    margin: 10px 0;
}

.receipt .payment-btn {
    display: block;
    width: 60%;
    padding: 12px;
    background-color: darkcyan;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 1000;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 18%;
}

.receipt .payment-btn:hover {
    background-color: rgb(125, 216, 216);
}
