
body{
    font-family: Berlin system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #151515;
    color: white
}

.logo {
    width: 200px;
    height: 150px;
    margin-left: 20px;
    margin-top: 5px;
}

/* Header Styles */
.header {
    margin: none;
    position: fixed;
    background: #151515;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    margin-left: -10px;
    top: 0;
    height: 15%;
    width: 100%;
    display: flex;
    align-items: center;
   
}
.user-details-page {
    padding: 20px;
    max-width: 900px;
    margin-top: 200px;
    margin-left: 15%;
    background: #202020;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.user-details-page h2 {
    color: #13dee1;
    text-align: center;
}

/* Table */
.user-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    color: #e0e0e0;
}

.user-table th, .booking-table td {
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid #333;
}

.user-table th {
    background: #151515;
    color: #13dee1;
}

.user-table tr:nth-child(even) {
    background: #1a1a1a;
}

.user-table tr:hover {
    background: #262626;
    transition: background 0.3s ease;
}

.user-table td p {
    margin: 0;
}

/* Buttons */
.btn {
    background: #13dee1;
    color: #fff;
    border: none;
    padding: 8px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
    display: block;
    width: 100%;
}

.btn:hover {
    background: #13dee1;
    transform: scale(1.05);
}

/* Aligning cancel button */
.user-table td:last-child {
    text-align: center; /* Center align the cancel button */
}